<%= render :partial => 'member/sidebar' %>

<div class="ab-container span9">
	<h3>聯絡我們</h3>
	<hr>
	<p>若您有任何意見，歡迎您反應給我們，我們將竭誠為您服務！  我們的服務時間：10:00~18:00(週六日除外) </p>
	<p>處理作業一般約在2~3個工作天內，如因件數眾多處理不及，延誤回覆尚請見諒</p>
	<p>我們非常非常重視您的任何意見及建議，並希望您在AnyBuy能有愉快的經驗!</p>
	<table class="table table-striped">
	 <%= simple_form_for @contact, :url => help_contact_create_path, :html => {:class => 'form form-horizontal'} do |f| %>  
      <%= render :partial => 'contact_form', :locals => { :f => f } %>
         <%= f.submit "送出" %>  
     <% end %>  

</table>
</div>
