<% 
		@option =  ['book','clock','heart','none','pencil']
		@captcha =  @option .shuffle.first
%>
<div style="padding:20px 60px 20px 60px;">
	<h3><%=  "Please click #{@captcha}..." %></h3>
	<% @option.each do |item| %>
		<%= link_to image_tag("captcha/item-#{item}.png", :size => "40x40", :alt => item) ,"#",
				:id=>item ,:onclick=>"check_captcha('#{@captcha}','#{item}')" %>
	<% end -%>
</div>
