<% 
	@option =  ['book','clock','heart','none','pencil']
	@captcha =  @option .shuffle.first
%>
<div style="padding:20px 60px 20px 60px;">
	<h4><%=  "Please click the icon which is bordered" %></h4>
	<% @option.shuffle.each do |item| %>
		<%= link_to image_tag("captcha/item-#{item}.png", :size => "40x40", :alt => item,
		:style=>"border: blue 2px solid"  ) ,"#",:id=>item ,
		:onclick=>"check_captcha('#{@captcha}','#{item}')"  if item==@captcha  %>
		<%= image_tag("captcha/item-#{item}.png", :size => "40x40", :alt =>item) unless item==@captcha  %>
	<% end -%>
</div>
