<%= render :partial => 'member/sidebar' %>
	
<div class="ab-container main-container span9">
	<h3>購買點數</h3>
	<hr>
	<div class="row-fluid">
		<div class="thumbnail order-type span4">
			<img src="http://placehold.it/260x200"/>
			<div class="title">
				30枚FA幣
			</div>
			<div class="info">
				30 FA(發)幣<br/>贈送一禮幣
				<div class="price pull-right">$750</div>
			</div>
			<button class="btn btn-purple span3">付費</button>
		</div>
		<div class="order-type span4"></div>
		<div class="order-type span4"></div>
	</div>
</div>
