<div class="row-fluid">
	<div class="ab-container span3">
		<li><%= link_to '會員管理'.html_safe, edit_registration_path(:user) %></li>
		<li><%= link_to '點數購買'.html_safe, order_buymoney_path %></li>
		<li><%= link_to '聯絡我們'.html_safe, contact_help_index_path %></li>
	</div>
