<%= render :partial => 'member/sidebar' %>

	<div class="ab-container span9">
		<h3>會員中心</h3>	
		<hr style='border:3px #0047AB;height:2px; background-color:#0047AB; color:#0047AB'>
		<p>歡迎登入AnyBuy會員中心, 您可以透過會員中心修改您的個人資料, 查詢各項競標記錄與購買明細!</p>
		<p>如果有任何關於AnyBuy會員中心的問題, 歡迎聯繫我們, 我們將會為您服務!</p>
	</div>
</div>
