
<%= f.input :title, label: '最新消息標題'%><br />  
    
<%= f.input :content, label: '最新消息內容', :as => :ckeditor, :input_html =>{ :ckeditor => {:toolbar => 'mini'} },  hint: '<p style="color:red">※ 發佈最新消息前請再確認一次訊息內容！</p>'%>  
