<div class="well">
<h1>關於我們</h1>
<p>AnyBuy 是全台灣第一個"娛樂競標"網站。在2010年，AnyBuy 的創辦人發現台灣缺乏一種融合趣味性並以合理划算的價格提供市場熱門產品的網路購物平台。所以便決定架設一個全新的購物競標網站，好讓台灣的朋友們可以體驗競標的樂趣！ 
我們的宗旨

品質保證的產品
雖然 AnyBuy 的結標價常遠低於市價， 但我們網站上提供的產品，往往 是目前市場上最熱門的。AnyBuy不僅是個優惠又划算的購物管道，也是全球3C商品風潮的指標。
AnyBuy 的產品都是全新且包含原廠保固的。
專業客服
顧客至上是本公司運作的核心，因為沒有你們，就沒有 AnyBuy !
回email的速度、專業知識以及親切感都是本公司的重要指標，我們都 會盡力而為！
公信力及隱私權保護
本公司和全台灣最知名的金流公司配合，確保您付款資料的安全，絕不會將您的個人資料提供予任何與 AnyBuy 網站服務無關之第三人。請您放心下標！
AnyBuy 能確保競標過程絕對公正。本網站秉持公正公開的態度，嚴格要求網站員工、股東或其直系血親都不可在網站內參與競標。</p>


</div>
