<div class="ab-container" id="message_new">
    <h4>發佈最新消息</h4>
    <hr />
        <%= simple_form_for @message, :url => about_index_path do |f| %>  
            <%= render :partial => 'message_form', :locals => { :f => f } %>
            <%= f.submit "送出", :class => 'btn btn-success' %>  
            <%= link_to "取消", message_about_index_path, :class => 'btn btn-info' %>
        <% end %>  
        
</div>
