// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-title {
    color: #00B500;
    font-size:14px;
}

.message-content {
    margin:0;
	padding:10px;
	text-align:left;
    font-size:12px
}
