#contact .btn {
		margin-left: 300px;
}

#contact .control-label{
		text-align: left;
		padding-right: 0px;
		width:70px;
}



#contact input{
		float:left;
		margin-left:0px;
		padding: 0 auto;
}

#contact p{
		#line-height:12px;
}
