// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Lemon);

//public set

body { margin:0 auto;  background-image: url(white_texture.png); }
a { 
text-decoration: none !important; 
text-align: center; 
#color: #1A1A1A; 
font-weight: bolder;
}
  
ul, li { list-style-type:none;}
p { font-family: 標楷體; font-size:20px; text-indent: 1.5em; }
label { 
display:inline-block;
width:70px;
padding-right:10px;
text-align:right; }

//header
.header { margin:0 auto; }

//nav

.navbar { 
position: absolute;  
width: 100%; 
height: 30px; 
top:80px; 
font-family: 'Fjalla One', sans-serif; 
#text-shadow : 0 1px 0 #FFFFFF; 
color: #000; 
box-shadow: 0 0 15px -1px ; 
}

.brand a{ 
#font-family: 'Fjalla One', sans-serif; 
#text-shadow : 0 1px 0 #000000; 
color: #8B6914;
}

#ba a{ font-family: 標楷體; font-size: 15px; color: #FFFFFF; opacity: 3;  }
#ba a:hover {  background-color: #E5E5E5; opacity: 0.75; }

.navbar-inner{ 
background-image: url(bar.png);
background-origin: padding-box;
background-position: 0px 0px;
width:100%;
}


//advertist

.list { margin:0 auto;}

#abgneBlock {
position: absolute;
width: 100%;
margin: 110px 0 0 0  ;
}

//content index

//.info { width: 300px; height: 100px;}

.title { 
font-family: 標楷體; 
color: #A020F0; 
font-size: 15px; 
text-indent: 1.2em; 
text-align: center; 
font-weight: bolder;
}

.index-img {
 background-color: #ffffff;
 #border-width: 2px ; 
 vertical-align: center ;
 opacity: 3;  //透明度  
 text-align: center ;
 text-decoration: none !important;
 height:250px;
 width: 180px;
 margin: 0 auto;
}

.index-img:hover{
 opacity: 0.75; //透明度
 #box-shadow: 0 0 15px -1px ; 
 #-moz-box-shadow: 0 0 15px -1px;
 #-webkit-box-shadow: 0 0 15px -1px;
 margin: 0 auto;

}
    
.thumbnail {  
    background-color: #ffffff;
    border-width: 2px ; 
    vertical-align: center ;
    border: 1px solid #CCC;  //亮框   
    
     text-align: center ;
     text-decoration: none !important;
 }  
 
.thumbnail:hover{
    border: 1px solid #FF0000; //亮框

    box-shadow: 0 0 15px -1px ; 
    -moz-box-shadow: 0 0 15px -1px;
    -webkit-box-shadow: 0 0 15px -1px;
    color: #FF0000 ;
}  

.f-submit {
color: #90EE90;
}


.price {
    font-family: 標楷體;
    color:#16931A;
    #text-align: center ;
    font-size: 26px;
    font-weight: bolder;
    margin: 0 auto;
    text-indent: 1.2em; 
    padding:0;
}

//content show 
.simple_form label {
  font-family: 標楷體; 
  font-size:15px;
  float: left;
  width: 110px;
  text-align: left;
  position: relative;
  font-weight: bolder;
  margin: 10px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
  margin-left: 10px;
  clear: both;
  float: right;
  }
  
  .simple_form .error {
  clear: left;
  color: red;
  display: block;
  margin-bottom: 10px;
}

.user_title { color: #1CA01C; }
  
.help-block { 
font-size: 13px; 
display: inline; 
padding: 0 0 0 100px; 
color:#7F7F7F;
}



.nameerror {
font-family: 標楷體; 
font-size:15px;
color: red;
font-weight: bolder;
padding: 0 100px 0 0;
}

#rebtn { position:relative; right:30%; float: right; width: 40%; }
#loginbtn { position:relative; margin: 0 0 0 220px; width: 20%;}
.log1 { position:relative; margin: 0 0 0 290px; }
#users { padding-top:40px; }

#terms {
	width: 450px;
	height: 200px;
	overflow: auto;	/* 讓它有捲軸 */
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
}
.red {
	color: red;
}



a.about {
color: #dbdbda;
   }
   
a.about:hover {
    color: #ffffff;
   }

//footer

p.foot {
    font-size:10px;
     text-ident: 1.5em;
    text-align: center ;
    font-family: 'Stalemate', cursive;
    text-decoration: none;
    }


.footer-1{
float: left;
display: block;
margin-right: 87px;
margin:0;
padding:0 10px;
}

.footer-2{
float: left;
display: block;
margin-right: 87px;
float:left;
margin:0;
padding:0 40px;
}

.footer-3{
float: left;
display: block;
margin-right: 70px;
float:left;
}

.footer-1 ul {
text-align: center;
letter-spacing: 3px;
}

.footer-2 ul {
text-align: center;
letter-spacing: 3px;
}

.footer-3 ul {
text-align: center;
letter-spacing: 3px;
}

.foot-title {
font-family: 'Lemon', cursive;
font-weight: bolder;
font-size: 18px;
padding-bottom: 2px;
color: white;
}

.about-txt {
color: #ffffff;
padding-bottom: 7px;
font-weight: 100;
}

.help-txt {
color: #ffffff;
padding-bottom :7px;
font-weight: 100;
}

.other-txt {
color: #ffffff;
padding-bottom :7px;
font-weight: 100;
}


#footwell{
height: 150px;

padding: 20px 20px;
clear: both;
margin: 0 auto;

background-image: url(dark.png);
}

#showwell { height: 900px;}
.s9 { float:left; width:40%;}
.s8 { float:left; right: 30%; width:40%;}
.sp { float:left; }

//jquery time
 #odliczanie-a{
                font-size: 18px;
                font-family: Verdana, sans-serif;
            }

#tytul-a{
                text-align: right;
            }

#odliczanie-b{
                font-size: 18px;
                font-weight: normal;
                margin: 40px 0px;
            }


#abgneBlock {
		width: 940px;
		height: 279px;
		position: relative;
		overflow: hidden;
		border: 1px solid #ccc;
	}
	#abgneBlock ul.list {
		padding: 0;
		margin: 0;
		list-style: none;
		position: absolute;
		width: 9999px;
		height: 100%;
	}
	#abgneBlock ul.list li {
		float: left;
		width: 940px;
		height: 100%;
	}
	#abgneBlock .list img{
		width: 100%;
		height: 100%;
		border: 0;
	}
	#abgneBlock ul.playerControl {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		bottom: 5px;
		right: 5px;
		height: 14px;
	}
	#abgneBlock ul.playerControl li {
		float: left;
		width: 10px;
		height: 10px;
		cursor: pointer;
		margin: 0px 2px;
		background: url(cir_ctrl.png) no-repeat -10px 0;
	}
	#abgneBlock ul.playerControl li.current { 
		background-position: 0 0;
	}
	




.realperson-challenge {
	display: block;
	color: #000;
}
.realperson-text {
	font-family: "Courier New",monospace;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 4px;
}
.realperson-regen {
	padding-top: 4px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.realperson-disabled {
	opacity: 0.5;
	filter: Alpha(Opacity=50);
}
.realperson-disabled .realperson-regen {
	cursor: default;
}
