<div class="ab-container">
	<h1>商品上架</h1>
	<hr>
		<%= simple_form_for @product, :url => products_path, :html => { :multipart => true } do |f| %>
			<%= render :partial => 'form', :locals => { :f => f } %>
			<%= f.submit "送出" %>
		<% end %>
	
	<%= link_to '回首頁', products_path %>
</div>
